.main-header .container-fluid,.slider-section .container-fluid{
    width: 1480px;
    padding-left: 0;
}
.gray{
    background-color: #f9fafb;
}
/*Begain start css*/
.our-primary-menu ul{
    list-style: none;
}
.our-primary-menu ul li{}
ul.our-primary-menu li a{
    display: inline-block;
    padding: 10px 20px;
    color: #111;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    transition:all .4s ease-in-out;
}
.our-primary-menu ul li:hover>a{
    color: #e73a3e;
    letter-spacing: 1px;
}
.our-primary-menu li{
    position: relative;
}
.our-primary-menu li ul{
    position: absolute;
    left: 0;
    top: 160%;
    width: 250px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.2);
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.our-primary-menu li:hover ul{
    opacity: 1;
    visibility: visible;
    top: 120%;
}
.our-primary-menu li ul li{}
.our-primary-menu li ul li a{}
.our-primary-menu li ul li ul li{}
.our-primary-menu li ul li ul li a{}

.header-call {
    width: 200px;
}
.header-search {
    width: 50px;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    border-right: 1px solid #ddd;
    font-size: 21px;
}
.header-call-icon {
    height: 100%;
    font-size: 34px;
    margin-right: 15px;
    color: #e73a3e;

}
.header-call-info span{
    font-weight: 400;
    color: #606060;
}
.header-call-info a {
    color: #111;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
}
body .btn-primary {
    padding: 10px 43px;
    background-color: #e73a3e !important;
    border-color: #e73a3e;
    position: relative;
    z-index: 1;
}
body .btn-primary::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    left: 0;
    top: 0;
    background-color: #111;
    border-color: #111;
    z-index: -1;
    transition: .3s;
}
body .btn-primary:hover{
    border-color: #111;
}
body .btn-primary:hover::after{
    width: 100%;
}
/*slider-section*/
.slider-section{
    background: url(./img/main-banner2.jpg) no-repeat top center;
    background-size:cover ;
    background-attachment: fixed;
}
.slider-content-wrap{
    display: flex;
    align-items: center;
    height: 90vh;
    position: relative;
}
.slider-content h6{
    color: #e73a3e;
}
.slider-content h1 {
    font-size: 58px;
    margin: 20px 0;
}
.slider-content p{
    font-size: 20px;
}
.header-social{
    position: absolute;
    left: 0;
    bottom: 0;
}
.header-social ul{
    list-style: none;
    padding-left: 0;
    
}
.header-social ul li{}
.header-social ul li span{
    display: inline-block;
    margin-right: 50px;
    position: relative;
}
.header-social::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 38px;
    background: #111;
    left: 76px;
    top: 38%;
}
.header-social ul li a{
    display: inline-block;
    padding: 0 15px;
    color: #111;
}
/*begain day 2 start*/
/*logo section*/
.logo-section{
    border-bottom: 1px solid #ddd;
}
.client-logo{
}
.client-logo ul{
    list-style: none;
}
.client-logo ul li{}
.about-img{
    position: relative;
}
.about-img-text {
    position: absolute;
    right: 100px;
    bottom: 0;
    background: url(./img/shape.png) center no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-text-innter h1{
    font-size: 55px;
    color: #e73a3e;
}
.about-text-innter p{
    font-weight: 500;
}
/*finix text items*/
.finix-text{}
.finix-text h6{
    color: #e73a3e;
    font-weight: 500;
}
.finix-text h1 {
    font-weight: 400;
    font-size: 41px;
    margin: 20px 0;
}
.finix-text p {
    font-size: 19px;
    color: #606060;
}
.finix-text strong {
    font-weight: 400;
    color: #606060;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 13px;
}
.finix-text ul{
    list-style: none;
    padding-left: 0;
}
.finix-text li{
    padding: 5px 0;
    
}
.finix-text li:before {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    display: inline-block;
    margin-right: 17px;
    color: #e73a3e;
}
/*begain-day-3*/

.Guarantee{
    background-color: #fff;
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    transition: .6s;

}
.Guarantee span {
    color: #e73a3e;
    background-color: #fff;
    height: 90px;
    width: 90px;
    line-height: 90px;
    border-radius: 50%;
    display: inline-block;
    font-size: 25px;
    position: relative;
    z-index: 1;
    margin: 5px 0px;
    transition: .6s;
}
.Guarantee::before {
    content: "";
    height: 70%;
    width: 90%;
    left: 0;
    right: 0;
    top: -145px;
    border-radius: 50%;
    background-color: #fdebeb;
    position: absolute;
    margin: auto;
}
.Guarantee:hover span{
    background-color:#e73a3e;
    color: #fff;
}
.mtop5 {
    margin-top: 30px;
}
.mbtop5 {
    margin-top: -30px;
}
.Guarantee:hover{
    transform: translateY(-8px);
}
.finix-text{
    position: relative;
}
.play-btn {
    position: absolute;
    right: 42%;
    bottom: 64px;
    color: #e73a3e;
    height: 80px;
    width: 200;
    background-color: #fff;
    display: inline-block;
    width: 80px;
    text-align: center;
    line-height: 77px;
    border-radius: 50%;
    font-size: 55px;
    transition: .5s;
  
}
.play-btn:hover{
    color: #fff;
    background-color: #e73a3e;
}
.play-btn::before{
    content: "";
    height:80px;
    width: 80px;
    background-color: #e73a3e;
    left: 0;
    top: 0;
    border-radius: 50%;
    position: absolute;
    animation: playbtn 1.6s ease-out infinite;
}
@keyframes playbtn{
    0%,30%{
        transform: scale(0);
        opacity: 1;
    }
    50%{
        transform: scale(1.5);
        opacity: .7;
    }
    100%{
        transform:scale(2);
        opacity: 0;
    }
}
/*day 33 part 4*/
.apply-now-left-text {
    margin-top: 10px;
}
.apply-now-left-text h2{}

.step-teameline ul {
    list-style: none;
    position: relative;
    padding-left: 51px;
}
.step-teameline ul::before {
    content: "";
    top: 11px;
    left: 19px;
    height: calc(100% - 100px);
    width: 1px;
    background: #e73a3e;
    position: absolute;
}
.step-teameline ul li {
    margin-bottom: 25px;
    position: relative;
}
.step-teameline ul li::before {
    content: attr(data-countar);
    position: absolute;
    left: -52px;
    top: 2px;
    height: 40px;
    width: 40px;
    background: #f9fbfa;
    border-radius: 50%;
    border: 1px solid #e73a3e;
    text-align: center;
    line-height: 35px;
    color: #e73a3e;
}
.step-teameline ul li strong {
    font-size: 23px;
    display: block;
    margin-bottom: 10px;
}
.step-teameline ul li p{
    color: #606060;
}
/*form*/
.calculate-rate{
    background-color: #fdebeb;
    padding: 50px;
}
.calculate-rate .finix-text h6{
    color: #606060;
}
.calculate-form label {
    margin-bottom: 10px;
    font-weight: 500;
}
.calculate-form input {
    border: 0;
    border-radius: 0;
    padding: 15px 20px;
    margin-bottom: 10px;
  
    
}
.calculate-form select {
    border: 0;
    border-radius: 0;
    height: 53px;
}
.calculate-form select.option:hover{
    background-color: #e73a3e !important;
}
/*call to action-section*/
.call-to-action-section {
    background: #e73a3e;
    padding: 55px;
    border-radius: 5px;
}
.call-title h2 {
    color: #fff;
    font-weight: 400;
    font-size: 44px;
    border-right: 1px solid #dddd;
}
.call-icon span {
    font-size: 30px;
    height: 60px;
    width: 60px;
    display: inline-block;
    background: #fff;
    line-height: 60px;
    text-align: center;
    border-radius: 50%;
    color: #e73a3e;
}

.call-number a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    margin-left: 20px;
    font-weight: 500;
}
.call-to-action-item {
    margin-top: 25px;
}
/*our-company*/
.copany-icon span {
    font-size: 29px;
    display: inline-block;
    margin-right: 17px;
    color: #e73a3e;
}
.company-value {
    margin-bottom: 10px;
}
.company-item p{
    color: #606060;
}
.company-img img {
    max-width: 100%;
    margin-top: 28px;
}
.service .nav-item{
    flex: 1 1 auto;
}
.service .nav-item span {
    color: #333;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #fff;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    line-height: 60px;
}
.service a.active span{
    color: #e73a3e;
}
.service .nav-item strong {
    color: #111;
    font-size: 20px;
    margin-top: 20px;
}
.service a{
    border-bottom: 1px solid rgb(189, 179, 179);
    position: relative;
}
.service a.active::before {
    content: "";
    height: 2px;
    width: 190px;
    left: 0px;
    top: 125px;
    position: absolute;
    background: #e73a3e;
}
.service-tab-text ul{
    list-style: none;
    padding-left: 0;
}
.service-tab-text ul li{
    position: relative;
    padding-left: 20px;
}
.service-tab-text ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #e73a3e;
}
.service-tab-text p{
    color: #606060;
}
/*testimonial-section*/
.testimonial-item p {
    color: #606060;
    font-size: 23px;
}
.testimonial-item h4{
    color: #e73a3e;
}
.testimonial-img{
    position: relative;
}
.testimonial-icon {
    position: absolute;
    bottom: 52px;
    left: 104px;
}
.testimonial-icon span i{
    height: 80px;
    width: 80px;
    font-size: 40px;
    background: #fff;
    color: #e73a3e;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    transition: .5s;
}
.testimonial-icon span i:hover{
    color: #fff;
    background: #e73a3e;
}
/*member-social*/
.member-social{}
.member-img{
    position: relative;
}
.member-social ul {
    list-style: none;
    padding-left: 0;
    position: absolute;
    left: 25px;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-bottom: 37px;
}
.member-social ul li{
    display: inline-block;
}
.member-social ul li a {
    height: 40px;
    width: 40px;
    line-height: 40px;
    background: #fff;
    display: inherit;
    border-radius: 50%;
    font-size: 20px;
    color: #444;
    margin: auto;
    margin-left: 8px;
    transition: .5s;
}
.member-social ul li a:hover{
    background: #e73a3e;
    color: #fff;
}
.member-social ul li {
    display: inline-block;
    
    transform: translateY(40px);
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
}
.member-img:hover .member-social ul li{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}
.member-img .member-social ul li:nth-child(1){
    transition-delay: .1s;
}
.member-img .member-social ul li:nth-child(2){
    transition-delay: .2s;
}
.member-img .member-social ul li:nth-child(3){
    transition-delay: .3s;
}
.member-img .member-social ul li:nth-child(4){
    transition-delay: .4s;
}
.member-img .member-social ul li:nth-child(5){
    transition-delay: .5s;
}
.member-bio {
    margin-top: 21px;
}
.member-bio h3{
    color: #e73a3e;
}
.member-bio p{
    color: #606060;
}
/*blog-section*/
.blog-item{
    margin: 30px 0;
}
.blog-item .blog-thamnil{}
.blog-item .blog-thamnil img{
    max-width: 100%;
}
.blog-content {
    margin-top: 20px;
}
.blog-content p{}
.blog-content h3 a {
    text-decoration: none;
    color: #111;
    transition: .5s;
}
.blog-content h3 a:hover{
    color: #e73a3e;
    letter-spacing: 0;
}
.blog-content h6 a {
    text-decoration: none;
    color: #222;
    transition: .5s;
}
.blog-item:hover .blog-content h6 a{
    color: #e73a3e;
    letter-spacing: 1px;
}
/*footer-section*/
.footer-section{
    background: #111;
    color: #fff;
}
.footer-wedget{}
.footer-wedget p {
    font-size: 18px;
    margin: 26px 0;
}
.wedget-social{}
.wedget-social ul{
    list-style: none;
    padding-left: 0;
}
.wedget-social ul li{}
.wedget-social ul li span {
    font-weight: 500;
    display: inline-block;
}
.wedget-social ul li a {
    padding: 0 15px;
    color: #fff;
    font-size: 18px;
    transition: .4s;
}
.wedget-social ul li a:hover{
    color: #e73a3e;
    letter-spacing: 0;
}
.footer-wedget{
    padding: 30px 0;
}
.footer-wedget h4 {
    font-size: 22px;
    border-bottom: 1px solid #444;
    padding-bottom: 29px;
}
.footer-wedget ul{
    list-style: none;
    padding-left: 0;
}
.footer-wedget ul li {
    margin-top: 22px;
}
.footer-wedget ul li a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    transition: .5s;
}
.footer-wedget ul li a:hover{
    color: #e73a3e;
    letter-spacing: 1px;
}
.footer-contact-item {
    margin-top: 25px;
}
.footer-contact-icon{}
.footer-contact-icon span {
    display: inline-block;
    margin-right: 16px;
}
    
.footer-contact-content a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
.footer-contact-content a:hover{
    color: #e73a3e;
}

.footer-bottom{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.footer-bottom p{
    color: #666;
  margin-bottom: 0;
}
.footer-bottom p a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 500;
    transition: .5s;
}
.footer-bottom p a:hover{
    color: #e73a3e;
}


/*prat-9*/
.breadcrumb-section {
    padding: 140px 0;
    background: url(./img/background3.jpg) no-repeat;
    background-position: center 55%;
    position: relative;
    z-index: 1;
}
.breadcrumb-section::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255,255,255,.6);
    z-index: -1;
}
.breadcrumb-section h4{
    font-weight: 600;

}
.breadcrumb a{
    color: #e73a3e !important;
    text-decoration:none;
}
/*home 1*/
.slider-section.emon{
    background: url(../day-17-practice/img/main-banner.jpg);
    position: relative !important;
}
/*header-social*/
.header-social.s{
    transform: rotate(-90deg);
    position: absolute !important;
    right: 0;
    top: 0;
}
.form label{
    margin-bottom: 10px;
}
.form input{
    margin-bottom: 20px;
    padding: 20px;
}